@import '../../styles.scss';

.container{
  font-family: Didot, serif;
  color: $font-color;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width:1000px){
      display: grid;
      grid-template-columns: auto auto;
      width: 75%;
      height: 90%;
      top: 50%;
  }

  
  @media (max-width:820px){  
    display: flex;
    flex-direction: column;
    height: 90%;
    top: 55%;
    gap: 5px;
    width: 70%;
    padding-left: 25px;
  }

  .headline{
  
    justify-self: end;

    font-size: 45px;
    line-height: 35px;
    letter-spacing: -1px;

    padding-top: 80px;

    @media (max-width:820px){  
      font-size: 30px;
      line-height: 25px;

      align-self: center;
      padding-top: 15%;
    }

    #impact-red{
      font-family: $font-sec;
      color: $font-sec-color;
    }

    #impact-white{
      font-family: $font-sec;
      color: $font-sec-color;
    }

    #old-white{
      font-family: $font-sec;
      font-size: 40px;
      color:$font-color;
      @media (max-width:820px){  
        font-size: 25px;
      }
    }

  }

  .body{ 

    overflow-y: scroll;

    
    &::-webkit-scrollbar {
      display: none;
    }
  
    @media (max-width:820px){  
      font-size: 16px;
      padding-top: 30px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (min-width:1000px){
      width: 400px;
      padding-top: 80px;
      justify-self: center;
  }
    
    grid-column-start: 2;
    grid-column-end: end;
    justify-self: end;

    font-size: 18px;
    line-height: 150%;

  
  
    #hello{
      @media (max-width:820px){  
        font-size: 18px;
      }
      font-size: 24px;
      font-family: $font-title;
      color: $font-sec-color;
    }
  }

}
