<div class="container">
  <div class="item1">
      <h1 [@top] id="top">Omar Alaniz</h1>
      <h1 [@bottom] id="bottom">Omar Alaniz</h1>
  </div>

  <div [@body] class="item2">
    <p id="paragraph">
      Hello, I am Omar Alaniz (as you can tell by the big title), and my passion is web and security. My ultimate goal is to 
      become an Security Engineer but currently searching for a Full-Stack Engineer position.<br><br>By working in Full-Stack, I will 
      deepen my knowledge of what Web development and process is. While working as Full-Stack, I  will actively work on Security 
      and its communities.
    </p>
  </div>

</div>
