<div class="container">
    <div class="headline" id="square">
      <span id="impact-red">Omar </span> <span id = "old-white">Alaniz <br></span> 
      <span id="impact-red">Web <br></span>
      <span id="impact-red">D</span> <span id="impact-white">evel</span> <span id="old-white">opment; <br></span> 
      <span id="impact-red">S</span> <span id="impact-white">ec</span>  <span id="old-white">urity...</span> 
    </div>
    <div class="body">
      I have a passion for Security, but I am still green within the field. I am tenacious, when I set mind on something I won’t stop
      until I exhaust myself. I am cautious and know my limits, before I dive into anything, I make sure my fundamentals are well 
      accounted for. I have experience in Full Stack by working with backend and frontend teams and on my website. 
      I am open to criticism; I adapt to change and to demands. While I am on the path for Full Stack/Software Engineer, 
      my resilience will lead me to a Security Engineer position. <br><br>

      I can bring leadership to a team, but I am first and foremost a team player. My experience as manager and Scrum Master allowed
      me to actively learn how to communicate effectively with the team. With this acquired skill, team morale and willingness 
      increase which causes faster production and higher quality products. Working with the backend team, frontend team, and clients 
      alike, makes me an excellent liaison between different departments. Being able to collaborate with anyone can proactively keep a 
      project accessible. The ability to view situations from multiple perspectives and mesh them as one is valuable in a group
      setting. Having a security first mentality ultimately causes fast production because there will not be a need to extensively 
      refactor to meet secure standards. With being said, I am progressively improving/optimizing my current/past projects.
    </div>
</div>
