@import '../../styles.scss';

.container{
  font-family: Didot, serif;
  color: $font-color;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  width: 35em;
  height: 25em;

  
  @media (max-width:820px){  
    width: 60%;
    height: 700px;
  }

  .body{ 
    padding-left: 10px;
    padding-right: 10px;

    #hello{
      font-size: 36px;
      color: $font-sec-color;
      font-family: $font-title;
    }

    flex-basis: auto;
    
    -webkit-box-shadow: 8px 8px 15px 0px  rgb(22, 22, 22);
    -moz-box-shadow: 8px 8px 15px 0px  rgb(22, 22, 22);
    box-shadow: 8px 8px 15px 0px  rgb(22, 22, 22);
  }

}
