<div class="container">
  <!-- <div class="item1"><h2>Hello,</h2></div> -->
  <div class="body">
    <p>
      <span id="hello">Hello</span>,
      I am Omar Alaniz, and my passion is web development and  web security (although a novice). My ultimate goal is to 
      become an Security Engineer but currently searching for a Full-Stack Engineer position.<br><br>By working in Full-Stack, I will 
      deepen my knowledge of what Web development and process is. While working as Full-Stack, I  will actively work on Security 
      and its communities.
    </p>
  </div>

</div>
