@import '../../styles.scss';

.container { 
  font-family: $font;
  
  position: fixed;
  display: grid;
  grid-template-rows: auto auto;

  @media (max-width:700px){ 
    display: inline-grid;
    top: 35%; 
    font-size: 14px;
    grid-template-columns: 30px;
    grid-template-rows: 135px 135px;  
  }

  top: 50%;
  left: 20px;
  list-style-type: none;

  z-index: 10000;

  .item1{
    @media (min-width:1000px) {
      padding-bottom: 50px;
    }
    grid-row-start: 1;
    grid-row-end: 1;

    @media (max-width:700px){  
      transform: rotate(90deg);
      font-size: 14px;
      height: 30px;
    }
  }
  .item2{ 
    grid-row-start: 2;
    grid-row-end: 2;
    @media (min-width:1000px) {
      padding-bottom: 50px;
    }
    grid-row-start: 2;
    grid-row-end: 2;
    
    @media (max-width:700px){  
      transform: rotate(90deg);
      font-size: 14px;
      height: 30px;

      grid-row-start: 2;
    }
  }
  
}

a{
  font-size: $font-size_aside;
  text-decoration: none;
  color: $font-color;
}

.active-link{ 
  opacity: .5;
}

a:hover{
  opacity: .5;
}